:root {
 

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  overflow: hidden;
  width:'100vw';
  height:'100vh';
  margin:'0';
  background-color: transparent;
  font-family: 'sans-serif';
  
}


.navbar{
  position: absolute;
  background-color:#003247 ;
  margin-top: -10px;
  width: 100vw;
  height: 8vh;
  display: flex;
  flex-direction: row;
  gap: 2rem;
  margin-left: -0.1vw;
  /* cursor:pointer; */
}
/* .subnav{ */
  /* position: absolute; */
  /* margin-top: -0.5px!important; */
  /* top: 7.4vh; */
/* } */
.logo{
  height: 50px;
  width: 115px;
  margin-top: 12px;
  margin-left: 10px;
}
.proj_name{
  height: 50px;
  width: 300px;
  margin-top: 12px;

}
.link_icons{
  display: flex;
  flex-direction: row;
  gap: 6rem;
  height: 30px;
  margin-left: 52vw;
  margin-top: 20px;
}
#region_selection{
  border-radius: 10px;
border: 1px solid #8A8888;
background: #F0EFEF;
outline: none;
}
.left_side_panel{
  width: 120px;
height: 570px;
border-radius: 10px;
background: #1E4B5F;
position: absolute;
top: 29.5vh;
display: flex;
flex-direction: row;
gap: 1rem;
margin-top: 5px;
z-index:100;
font-family:'sans-serif',
}
.right_icon{
  height: 30px;
}

.css-13cymwt-control{
  background-color: rgb(255, 255, 255) !important;
  width: 170px;
  border-radius: 10px !important;
  z-index: 120;
  /* margin-left: 6.2vw; */
}
/* .leaflet-bottom.leaflet-right .leaflet-control{
  position: absolute;
  right: 0.2vw;
  top: -17vh;
} */
div.legend2 .leaflet-control{
  /* position: absolute;
  right: 24.8vw;
  top: -17vh;
  padding: 6px 8px;
  font: 14px Arial, Helvetica, sans-serif;
  background: rgb(240, 47, 47) !important;  */
  /* background: rgba(255, 255, 255, 0.8); */
  /*box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);*/
  /* border-radius: 10px;
  line-height: 24px;
  color: #555;
  /* margin-right: 24.8; */
  /* background-color: red !important; */
}

.legend {
  
  padding: 6px 8px;
  font: 14px Arial, Helvetica, sans-serif;
  background: white;
  /* background: rgba(255, 255, 255, 0.8); */
  /*box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);*/
  border-radius: 10px;
  line-height: 24px;
  color: #555;
  margin-left: 10vw;
}

.legend h4 {
  text-align: center;
  font-size: 16px;
  margin: 2px 12px 8px;
  color: #777;
}


.legend p {
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  margin: 2px 12px 8px;
  color: rgb(90, 90, 90);
}
.legend2 p {
  text-align: center;
  font-size: 13.5px;
  font-weight: 700;
  margin: 2px 12px 8px;
  color: rgb(90, 90, 90);
}


.legend span {
  position: relative;
  bottom: 3px;
}

.legend i {
  width: 18px;
  height: 18px;
  float: left;
  margin: 0 8px 0 0;
  opacity: 0.7;
  border-radius: 50%;
  margin-left: 15px;
}

.legend i.icon {
  background-size: 18px;
  background-color: rgba(255, 255, 255, 1);
}
.legend img {
 
  margin-left: 15px;
}
.open_drawer{
  position:'absolute';
   z-index:150;
  right:'1.2vw'; 
    top:'50vh',
}
.close_drawer{
  position:'absolute';
   z-index:150;
  right:'10.2vw'; 
    top:'50vh'
}

.base_map_ctrl_selections {
  position: absolute;
  z-index: 401;
  /* margin-top: 5%; */
  top: 15vh;
  left:90%;
  background-color: #FFFFFF;
  border-radius: 10px;
  padding: 5px;
  display: none;
  
}
.base_map_name {
  font-size: 15px;
  cursor: pointer;
  border-bottom: #080808 solid 3px;
}
.base_map_name:hover {
  background-color: #858585;
}

.map_controls {
  position:absolute;
        top:13.1vh;
         z-index: 102;
        right:1.5vw;
        display:flex;
         flex-direction: row; 
         gap:1rem;
        }
        
a.leaflet-control-layers-toggle{
  background-color: transparent;
  height: 30px !important;
  width: 30px !important;
  background-image: url('./assets/layers.svg');
  position: absolute;
  right: 5.8vw;
}

/* 
a.leaflet-control-layers-toggle:hover  {
 
                
                

} */
.leaflet-control-layers-expanded{
  background-color: #1e4b5f;
  color: #fff;
  padding: 15px;
  position: absolute;
  right: 6.2vw;
  width: 120px;
  /* font-family: sans-serif; */
  
 


  
 
}


.leaflet-control-layers-selector > span{
  color: red;
}

#opacity{
  /* background-position: 0 0; */
  /* margin-top: 10px !important; */
  padding-left: 10px !important;
  padding-right: 8px !important;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: small;
}
#sldOpacity {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  width: 7vw;
  max-width: 7vw;
  outline: none;
  
}

#sldOpacity:focus,
#sldOpacity:active,
#sldOpacity::-moz-focus-inner,
#sldOpacity::-moz-focus-outer {
  border: 0;
  outline: none;
}
#sldOpacity::-webkit-slider-runnable-track {
  width: 5vw;
  height: 5px;
  background: #64818d;
  border-radius: 10px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  cursor: pointer;
  margin-top: -10px;
  -webkit-appearance: none;
}
#sldOpacity::-webkit-slider-thumb {
  border: none;
  height: 10px;
  width: 10px;
  background-color: transparent;
  background-image: url('../src/assets/radio_opacity.svg');
  background-position: 0 0;
  background-size: cover;
  transform: scale(1.9) rotateZ(var(--thumb-rotate, 0deg));
  cursor: pointer;
  margin-top: -2px;
  -webkit-appearance: none;
}

@media (min--moz-device-pixel-ratio: 1.1),
       (-o-min-device-pixel-ratio: 11/10), 
       (-webkit-min-device-pixel-ratio: 1.1), 
        (min-device-pixel-ratio: 1.1),
      
       (min-resolution: 110dpi),
        (min-resolution: 1.1dppx) 
       {
  /* Styles for devices with pixel ratio 1.25 */
  /* Add your CSS rules here */
  .navbar{
   
    background-color:#003247 ;
    margin-top: -10px;
    width: 100vw;
    height: 8vh;
    display: flex;
    flex-direction: row;
    gap: 2rem;
  }
  .proj_name{
    height: 50px;
    width: 280px;
    margin-top: 12px;
  
  }

  .link_icons{
    display: flex;
    flex-direction: row;
    gap: 3rem;
    height: 30px;
    margin-left: 56vw;
    margin-top: 20px;
  }
  .right_icon{
    height: 30px;
  }
  .selections{
    top: 0.5vh;
  }
  #region_selection{
   height: 30px !important;
  }
  .left_side_panel{
    word-break: break-word;
 height: 690px;
 width: 120px;

 
 font-size: 12px;
  }
  .left_side_icons{
    gap: 4rem !important;
  }
  .left_side_links{
    gap: 5.5rem !important;
    word-break: break-word;
  }
  #map{
    height: 80vh;
  }
       }

@media only screen and (min-width: 1920px) and (min--moz-device-pixel-ratio: 1.25),
       (-o-min-device-pixel-ratio: 5/4), 
       (-webkit-min-device-pixel-ratio: 1.25), 
        (min-device-pixel-ratio: 1.25),
      
       (min-resolution: 120dpi),
        (min-resolution: 1.25dppx)
        
       {
  /* Styles for devices with pixel ratio 1.25 */
  /* Add your CSS rules here */
  .navbar{
   
    background-color:#003247 ;
    margin-top: -10px;
    width: 100vw;
    height: 8vh;
    display: flex;
    flex-direction: row;
    gap: 2rem;
  }
  .proj_name{
    height: 50px;
    width: 280px;
    margin-top: 12px;
  
  }

  .link_icons{
    display: flex;
    flex-direction: row;
    gap: 3rem;
    height: 30px;
    margin-left: 50vw;
    margin-top: 20px;
  }
  .right_icon{
    height: 30px;
  }
  .selections{
    top: 0.5vh;
  }
  #region_selection{
   height: 30px !important;
  }
  .left_side_panel{
    word-break: break-word;
 height: 580px;
 width: 120px;

 
 font-size: 12px;
  }
  .left_side_icons{
    gap: 3rem !important;
  }
  .left_side_links{
    gap: 4.8rem !important;
    word-break: break-word;
  }
       }
@media (min--moz-device-pixel-ratio: 1.5),
       (-o-min-device-pixel-ratio: 3/2), 
       (-webkit-min-device-pixel-ratio: 1.5), 
        (min-device-pixel-ratio: 1.5),
      
       (min-resolution: 150dpi),
        (min-resolution: 1.5dppx) 
       {
  /* Styles for devices with pixel ratio 1.25 */
  /* Add your CSS rules here */
  .navbar{
   
    background-color:#003247 ;
    margin-top: -10px;
    width: 100vw;
    height: 8vh;
    display: flex;
    flex-direction: row;
    gap: 2rem;
  }
  .logo{
    height: 40px;
    margin-top: 4px;
  }
  .proj_name{
    height: 50px;
    width: 280px;
    margin-top: 0px;
  
  }

  .link_icons{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    height: 30px;
    margin-left: 47vw;
    margin-top: 10px;
  }
  .selections{
    top: 0.5vh;
  }
  #region_selection{
   height: 30px !important;
  }
  .left_side_panel{
    word-break: break-word;
 height: 510px;
 width: 120px;

 
 font-size: 12px;
  }
  .left_side_icons{
    gap: 2rem !important;
  width: 20px !important;
  }
  .left_side_links{
    gap: 3.7rem !important;
    word-break: break-word;
  }
  .subnav{
    top:7.5vh !important;
  height: 5vh !important;
  font-size: 14px !important;
  }
  .right_icon{
    height: 20px;
  }
  #map{
    height: 88vh !important;
  }
       }

       /* media queries for different resolutions */
       /* (1280x1024) SXGA Display */
@media only screen and (max-width: 1200px) {
  

  .navbar{
   
    background-color:#003247 ;
    margin-top: -10px;
    width: 100vw;
    height: 8vh;
    display: flex;
    flex-direction: row;
    gap: 2rem;
  }
  .logo{
    height: 40px;
    width: 100px;
    margin-top: 15px !important;
  }
  .proj_name{
    height: 50px;
    width: 280px;
    margin-top: 10px !important;
  
  }

  .link_icons{
    display: flex;
    flex-direction: row;
    gap: 2.5rem;
    height: 30px;
    margin-left: 39vw;
    margin-top: 15px !important;
  }
  .selections{
    top: 13.5vh !important;
  }
  #region_selection{
   height: 30px !important;
  }
  .left_side_panel{
   
    width: 115px !important;
    margin-top: 30px !important;
    height: 420px !important;
    /* padding: 5px; */
    
    top: 34.5vh;
    font-size: 12px;
  }
  .left_side_icons{
    gap: 2rem !important;
  width: 20px !important;
  }
   .left_side_links{
    gap: 2.4rem !important;
    word-break: break-word;
    font-size: 13px !important;
    /* margin-top: 5px !important; */
  }
  
  .subnav{
    top:7.5vh !important;
  height: 5vh !important;
  font-size: 14px !important;
  }
  .right_icon{
    height: 20px;
  }
  #map{
    height: 87vh !important;
  }
  a.leaflet-control-layers-toggle{
    background-color: transparent;
    height: 30px !important;
    width: 30px !important;
    background-image: url('./assets/layers.svg');
    position: absolute;
    top: -0.1vh;
    right: 8.4vw !important;
  }

  .selection_panel{
    width:350px !important;
    height:280px !important;
    left: 10.3vw !important;
    top: 38vh !important;
  }
  .close_selection_panel{
    margin-left: 27vw !important;
  }
  .crop_selection{
    margin-left: 40px !important;
  }
  .fetch_button{
    margin-left: 120px !important;
  }
  #sldOpacity::-webkit-slider-runnable-track {
    width: 10vw !important;
    height: 5px;
    background: #64818d;
    border-radius: 10px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
    cursor: pointer;
    margin-top: -10px;
    -webkit-appearance: none;
  }
  #climate_selection{
    top: 45vh !important;
    left: 1.5vw !important;
  }
  .landuse{
    top: 57vh !important;
    left: 10.1vw !important;

  }
  .anci{
    margin-top: -20px;
    margin-left: 44px;
    /* top: 60vh !important; */
    /* left: 20.1vw !important; */

  }
}

/* (1366x768) WXGA Display laptop */
/* @media  screen and (max-width: 1366px)
 {

  .navbar{
   
    background-color:#003247 ;
    margin-top: -10px;
    width: 100vw;
    height: 8vh;
    display: flex;
    flex-direction: row;
    gap: 2rem;
  }
  .logo{
    height: 40px;
    margin-top: 15px;
  }
  .proj_name{
    height: 50px;
    width: 280px;
    margin-top: 10px;
  
  }

  .link_icons{
    display: flex;
    flex-direction: row;
    gap: 2.5rem;
    height: 30px;
    margin-left: 46vw;
    margin-top: 15px;
  }
  .selections{
    top: 12vh !important;
  }
  .selection_panel{
    width:350px !important;
    height:305px !important;
    left: 7.3vw !important;
    top: 36vh !important;
  }
  .close_selection_panel{
    margin-left: 24vw !important;
  }
  .crop_selection{
    margin-left: 40px !important;
  }
  .fetch_button{
    margin-left: 120px !important;
  }
  #region_selection{
   height: 30px !important;
  }
  .left_side_panel{
    
 height: 400px !important;
 width: 105px;
 margin-top: 50px;

 top: 34.5vh;
 font-size: 12px;
  }
  .left_side_icons{
    gap: 1rem !important;
  width: 10px !important;
  
  }
  .left_side_links{
    gap: 1.9rem !important;
    word-break: break-word;
    font-size: 13px !important;
  }
  .subnav{
    top:7.5vh !important;
  height: 5vh !important;
  font-size: 14px !important;
  width: 99.1vw !important;
  }
  .right_icon{
    height: 20px;
  }
  #map{
    height: 88vh !important;
  }
 
  a.leaflet-control-layers-toggle{
    background-color: transparent;
    height: 30px !important;
    width: 30px !important;
    background-image: url('./assets/layers.svg');
    position: absolute;
    top: -0.18vh;
    right: 7.4vw !important;
  }
  
} */

/* @media only screen and (max-width: 1366px) and (min-resolution: 125dpi), (min-resolution: 1.25dppx) {
  

  .navbar{
   
    background-color:#003247;
    margin-top: -10px;
    width: 100vw;
    height: 8vh;
    display: flex;
    flex-direction: row;
    gap: 2rem;
  }
  .logo{
    height: 40px;
    margin-top: 1px;
  }
  .proj_name{
    height: 50px;
    width: 280px;
    margin-top: -5px;
  
  }

  .link_icons{
    display: flex;
    flex-direction: row;
    gap: 2.5rem;
    height: 30px;
    margin-left: 35vw;
    margin-top: 5px;
   
  }
  .selections{
    top: 14vh !important;
  }
  #region_selection{
   height: 30px !important;
  }
  .left_side_panel{
   
 height: 356px !important;
 width: 100px;
 width: 105px;
 margin-top: 50px;

 top: 20.5vh;
 font-size: 12px;
  }
  .left_side_icons{
    gap: 0.4rem !important;
  width: 10px !important;
  }
  .left_side_links{
    gap: 1.6rem !important;
    word-break: break-word;
    font-size: 12px;
  }
  .subnav{
    top:7.5vh !important;
  height: 5vh !important;
  font-size: 14px !important;
  }
  .right_icon{
    height: 20px;
  }
  #map{
    height: 88vh !important;
  }
} */

